header h1 {
    font-weight: 600;
    font-size: 2rem;
}

header {
    color: #fff;
    padding: 15px 20px;
    background-color: cornflowerblue;
    margin-bottom: 50px;
}

.post {
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: 0 10px 18px #888888;
}

.post-container {
    max-width: 672px;
    margin: 0 auto 50px;
}

.post-container h2 {
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 30px;
}

.post-container p {
    font-weight: 400;
    font-size: 20px;
    text-indent: 40px;
}

.post-data {
    padding: 20px 30px 0;
    border-bottom: none;
}
.post-title {
    text-align: left;
    padding-bottom: 20px;
}
.post-content {

}
.post-meta_container {
    padding: 10px;
    border-top: 1px solid black;
}
.post-meta_container span {
    width: 33.3%;
    text-align: center;
    display: inline-block;
}
